{% extends "base.html" %}

{% block content %}
<div class="container mx-16 my-2">
  <div class="card" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ lot_detail.photo }}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ lot_detail.name }}</h5>
        <p class="card-text"><strong>Model: </strong>{{ lot_detail.model }}</p>
        <p class="card-text"><strong>Vehicle: </strong>{{ lot_detail.vehicle }}</p>
        <p class="card-text"><strong>Color: </strong>{{ lot_detail.color }}</p>
        <p class="card-text"><strong>Engine: </strong>{{ lot_detail.engine }}</p>
        <p class="card-text"><strong>Fuel: </strong>{{ lot_detail.fuel }}</p>
        <p><strong>Comments:</strong></p>
        <p class="card-text"><small class="text-body-secondary">{{ lot_detail.comment }}</small></p>
      </div>
      <div class="card-footer">
        <div class="btn-group" role="group" aria-label="Basic example">
          <a href="#" class="btn btn-primary">Update</a>
          <a href="#" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}